@model NAMIS.Models.dpps

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Detail of previous public Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psemployer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psemployer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrmDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrmDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SprpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SprpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePageRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePageRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkedby)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
