@model NAMIS.Models.DailyMotorVehicleWorkBook

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TankCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TankCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeedometerOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeedometerOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeedometerReadsIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeedometerReadsIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMilesKmRun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMilesKmRun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetrolOilReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetrolOilReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorityforJourney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorityforJourney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
