@model NAMIS.Models.monthlyreturn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>monthlyreturn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCurrentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCurrentAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SprpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SprpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YrC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YrC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
