@model NAMIS.Models.biodata

@{
    ViewData["Title"] = "Details";
    
}



<div>
    <h4>biodata</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decoration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decoration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Natinality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Natinality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFirstAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFirstAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFirstArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFirstArrival)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGAOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGAOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeographicalLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeographicalLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstansiveAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstansiveAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermsOfEngagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermsOfEngagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCurrentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCurrentAppointment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SprpNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
