@model IEnumerable<NAMIS.Models.biodata>

@{
    ViewData["Title"] = "Index";
    
}

<p>


    <a class="btn btn-outline-success" asp-action="Index" asp-area="" asp-controller="registers"><i class="fas"></i></a>

    <a class="btn btn-outline-success" asp-action="Index" asp-area="" asp-controller="nextofkins"><i class="fa"></i></a>
</p>


<div class="row">

    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-hover">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MiddleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sex)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.SprpNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfBirth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfFirstAppointment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfRetirement)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SprpNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfFirstAppointment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfRetirement)
                        </td>
                        <td>

                            <a asp-action="Edit" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.SprpNo">Edit</a>
                            <a asp-action="Details" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.SprpNo">Details</a>
                            <a asp-action="Delete" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.SprpNo">Delete</a>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
