@model NAMIS.Models.retirementbiodata

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>retirementbiodata</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decoration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decoration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Natinality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Natinality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFirstAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFirstAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFirstArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFirstArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGAOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGAOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeographicalLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeographicalLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstansiveAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstansiveAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermsOfEngagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermsOfEngagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCurrentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCurrentAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HodNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HodNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Step)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Step)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationInView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationInView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProYr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProYr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RYr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RYr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmationYr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmationYr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRetirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRetirement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPPISNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPPISNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NHISNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NHISNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NHFNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NHFNO)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SprpNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
