@model NAMIS.Models.itstudent

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>itstudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SprpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SprpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EDates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EDates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationInView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationInView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
