@model IEnumerable<NAMIS.Models.byresignationorinvalidating>

@{
    ViewData["Title"] = "Default";
}

<h4> By Regination Or Invalidating</h4>

<link href="~/css/viewComp.css" rel="stylesheet" />
<div class="row">

    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DateTerminated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PensionOrContarct)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PensionOf)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GrantuityOf)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContractGratuity)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.SprpNo)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTerminated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PensionOrContarct)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PensionOf)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GrantuityOf)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContractGratuity)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SprpNo)
                            </td>
                            <td>
                               
                                <a asp-action="Details" class="btn btn-danger btn-rounded btn-sm my-0" asp-area="" asp-controller="byresignationorinvalidatings" asp-route-id="@item.Id">Details</a> 
                               
                            </td>
                        </tr>
                    }
                </tbody>
                <tr>
                    <td colspan="6"></td>
                    <td>
                        <a asp-action="Index" asp-area="" asp-controller="byresignationorinvalidatings" class="btn btn-info">Add New</a>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    </div>
