@model IEnumerable<NAMIS.Models.rofcandcs>

@{
    ViewData["Title"] = "Default";
}

    <h4>Record of Censures and Commendations</h4>

<link href="~/css/viewComp.css" rel="stylesheet" />
<div class="row">

    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Summary)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompiledBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Dates)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SprpNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Summary)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompiledBy)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SprpNo)
                            </td>

                            <td>
                                
                                <a asp-action="Index" class="btn btn-danger btn-rounded btn-sm my-0" asp-area="" asp-controller="rofcandcs" asp-route-id="@item.Id">Details</a> |
                                
                            </td>
                        </tr>
                    }
                </tbody>
                <tr>
                    <td colspan="3"></td>
                    <td>
                        <a asp-action="Index" asp-area="" asp-controller="rofcandcs" class="btn btn-info">Add New</a>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    </div>
