@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@model IEnumerable<NAMIS.Models.biodata>

@{
    ViewData["Title"] = "ShowAll";
    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Executive Director")
    {
        Layout = "~/Views/Shared/_EdLayout.cshtml";
    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Director")
    {
        Layout = "~/Views/Shared/_DirectorLayout.cshtml";
    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Unit Head")
    {
        Layout = "~/Views/Shared/_UnitHeadLayout.cshtml";
    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Staff")
    {

    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Zonal Head")
    {
        Layout = "~/Views/Shared/_ZonalHeadLayout.cshtml";
    } }
<h4>Show All</h4>
<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('~/images/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 90%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
</style>
<script>
    function myFunction() {

        // Declare variables
        var input = document.getElementById("myInput");
        var filter = input.value.toUpperCase();
        var table = document.getElementById("myTable");
        var trs = table.tBodies[0].getElementsByTagName("tr");

        // Loop through first tbody's rows
        for (var i = 0; i < trs.length; i++) {

            // define the row's cells
            var tds = trs[i].getElementsByTagName("td");

            // hide the row
            trs[i].style.display = "none";

            // loop through row cells
            for (var i2 = 0; i2 < tds.length; i2++) {

                // if there's a match
                if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

                    // show the row
                    trs[i].style.display = "";

                    // skip to the next row
                    continue;

                }
            }
        }

    }</script>
@*<form class="form-inline ml-3">
    <div class="input-group input-group-sm">
        <input id="myInput" onkeyup="myFunction()" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>*@
<div class="row">

    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-hover">
              
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                     Rank
                    </th>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("schedle") == "Pension & Welfare")
                    {
                <th>
                   Grade
                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PFA)
                                </th>
                                                <th>
                                                    Pin
                                                </th>
                                                                <th>
                                                                    NHIS
                                                                </th>
                                                                                <th>
                                                                                 NHF
                                                                                </th>
                    }
                                                                                                <th>
                                                                                                    @Html.DisplayNameFor(model => model.StationName)
                                                                                                </th>
                                                                                                                <th>
                                                                                                                    @Html.DisplayNameFor(model => model.SprpNo)
                                                                                                                </th>

                                                                                                                                <th></th>
                                                                                                                                            </tr>
            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Surname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MiddleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sex)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrentAppointment)
                                    </td>
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("schedle") == "Pension & Welfare")
                                    {
                                <td>
                                    @Html.DisplayFor(modelItem => item.GradeLevel)
                                </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PFA)
                                                    </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.PinNo)
                                                                        </td>
                                                                                            <td>
                                                                                                @Html.DisplayFor(modelItem => item.NHISNO)
                                                                                            </td>
                                                                                                                <td>
                                                                                                                    @Html.DisplayFor(modelItem => item.NHFNO)
                                                                                                                </td>}
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SprpNo)
                                    </td>

                                    <td>

                                        <a asp-action="Details" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.SprpNo">Details</a>

                                    </td>
                                </tr>}
                            </tbody>
                                        </table>
        </div>
    </div>
</div>