@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@model IEnumerable<NAMIS.Models.Confirmationofappointment>
@{ 
    ViewData["Title"] = "Confirmation List"; 
@if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Executive Director")
{
    Layout = "~/Views/Shared/_EdLayout.cshtml";
}
@if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Director")
{
    Layout = "~/Views/Shared/_DirectorLayout.cshtml";
}
@if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Unit Head")
{
    Layout = "~/Views/Shared/_UnitHeadLayout.cshtml";
}
@if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Staff")
{

}
@if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Zonal Head" || HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Out Station Head")
{
    Layout = "~/Views/Shared/_ZonalHeadLayout.cshtml";
}  }

<h6>Confirmation List</h6>


<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('~/images/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 90%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
</style>
<script>
    function myFunction() {

        // Declare variables
        var input = document.getElementById("myInputs");
        var filter = input.value.toUpperCase();
        var table = document.getElementById("myTable");
        var trs = table.tBodies[0].getElementsByTagName("tr");

        // Loop through first tbody's rows
        for (var i = 0; i < trs.length; i++) {

            // define the row's cells
            var tds = trs[i].getElementsByTagName("td");

            // hide the row
            trs[i].style.display = "none";

            // loop through row cells
            for (var i2 = 0; i2 < tds.length; i2++) {

                // if there's a match
                if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

                    // show the row
                    trs[i].style.display = "";

                    // skip to the next row
                    continue;

                }
            }
        }

    }
</script>
@*<form class="form-inline ml-3">
    <div class="input-group input-group-sm">
        <input id="myInputs" onkeyup="myFunction()" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>*@
<div class="row">

    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MiddleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrentAppointment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Department)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfFirstAppointment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateDue)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.SprpNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GradeLevel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StationName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>

                        @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Executive Director")
                        {

                    <th>
                        <form>
                            <input type="submit" class="btn btn-info" name="save" value="Approve All"
                                   formaction="/Boxes/ApproveAllCon" formmethod="post" />
                            <input type="submit" class="btn btn-info" name="save" value="Disapprove All"
                                   formaction="/Boxes/DisapproveAllCon" formmethod="post" />
                        </form>
                    </th>
 }
                else
                {
                    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Staff" && HttpContextAccessor.HttpContext.Session.GetString("section") == "Section Member")
                    {
                     }
                                    else
                                    {
                    <th>
                        <form>
                            <input type="submit" class="btn btn-info" name="save" value="Submit"
                                   formaction="/Boxes/SubmitCon" formmethod="post" />
                        </form>
                    </th>
}}
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentAppointment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfFirstAppointment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDue)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SprpNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GradeLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                        @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Executive Director")
                        {
                    @if (item.LStatus == "Waiting" || item.LStatus == "Approved" || item.LStatus == "Wait")
                    {
                    <td>
                        <a asp-action="ViewConfirmationLetter" asp-controller="Boxes" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.Id">View Letter</a>
                    </td> }
                    else
                    {
                    <td>
                        <a asp-action="ApproveCon" asp-controller="Boxes" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.Id">Approve</a>|
                        <a asp-action="DisapproveCon" asp-controller="Boxes" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.Id">Disapprove</a>


                    </td>
                        }
                    } else
                                        {
                    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Staff" && HttpContextAccessor.HttpContext.Session.GetString("section") == "Section Member")
                    {
                    <td>
                    </td> }
                                            else
                                            {
                    @if (item.LStatus == "Waiting" || item.LStatus == "Approved" || item.LStatus == "Wait")
                    {
                    <td>
                        <a asp-action="ViewConfirmationLetter" asp-controller="Boxes" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.Id">View Letter</a>
                    </td> }
                                                else
                                                {
                    <td>
                        @*<a asp-action="ReverseCon" asp-controller="Boxes" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.Id">Remove</a>
                        <a asp-action="RemoveCon" asp-controller="Boxes" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.Id">Remove</a>*@
                        <div>
                            <a onclick="showInPopup('@Url.Action("ReverseCon","Boxes",new {id=item.Id},Context.Request.Scheme)','Reverse')" class="btn btn-success text-white"> Reverse</a>
                            
                            <form asp-action="RemoveCon" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                <input type="hidden" asp-for="@item.Id" />
                                <input type="submit" value="Remove" class="btn btn-danger" />
                            </form>
                        </div>
                    </td>
   }}}

                    </tr>
}
                </tbody>
            </table>
        </div>
    </div>
</div>