@model NAMIS.Models.dsinforce

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>dsinforce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmOfService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmOfService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForLeave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForLeave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SprpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SprpNo)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
