@model IEnumerable<NAMIS.Models.Visitor>

@{
    ViewData["Title"] = "ApprovedVisitor";
}

<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('~/images/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 90%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
</style>
<script>
    function myFunction() {

        // Declare variables
        var input = document.getElementById("myInputs");
        var filter = input.value.toUpperCase();
        var table = document.getElementById("myTable");
        var trs = table.tBodies[0].getElementsByTagName("tr");

        // Loop through first tbody's rows
        for (var i = 0; i < trs.length; i++) {

            // define the row's cells
            var tds = trs[i].getElementsByTagName("td");

            // hide the row
            trs[i].style.display = "none";

            // loop through row cells
            for (var i2 = 0; i2 < tds.length; i2++) {

                // if there's a match
                if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

                    // show the row
                    trs[i].style.display = "";

                    // skip to the next row
                    continue;

                }
            }
        }

    }
</script>
@*<form class="form-inline ml-3">
    <div class="input-group input-group-sm">
        <input id="myInputs" onkeyup="myFunction()" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>*@
<div class="row">

    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.VisitorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurposeOfVisit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WhoToVisit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DidKnow)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.TimeOfVisit)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.StationName)
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.VisitorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurposeOfVisit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WhoToVisit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DidKnow)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.TimeOfVisit)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.StationName)
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
