@model NAMIS.Models.CareerProgression

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CareerProgression</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SprpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SprpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CareerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CareerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFirstAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFirstAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateofCurrentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateofCurrentAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Step)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Step)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProposeRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProposeRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProposeGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProposeGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProposeStep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProposeStep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverID4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverID4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
