@model IEnumerable<NAMIS.Models.marragehistory>

@{
    ViewData["Title"] = "Default";
}

<h4>Marriage History</h4>

<link href="~/css/viewComp.css" rel="stylesheet" />
<div class="row">

    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaritalStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfMarriage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NameOfWife)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WifeDateOfBirth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SprpNo)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaritalStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfMarriage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameOfWife)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WifeDateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SprpNo)
                            </td>

                            <td>
                                
                                <a asp-action="Index" asp-area="" asp-controller="marragehistories" class="btn btn-danger btn-rounded btn-sm my-0" asp-route-id="@item.Id">Details</a> 
                               
                            </td>
                        </tr>
                    }
                </tbody>
                <tr>
                    <td colspan="5"></td>
                    <td>
                        <a asp-action="Index" asp-area="" asp-controller="marragehistories" class="btn btn-info">Add New</a>
                    </td>

                </tr>
            </table>
        </div>
    </div>
   </div> 
