@model NAMIS.Models.tourandleaverecord

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tourandleaverecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazetteNoticeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazetteNoticeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthOfTourForAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthOfTourForAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDueForLeave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDueForLeave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepartedOnLeave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepartedOnLeave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazetteNoticeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazetteNoticeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateExtentionGranted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateExtentionGranted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryRuleForExtention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryRuleForExtention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateResumedDuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateResumedDuty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassageBySeaOrAirToUk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassageBySeaOrAirToUk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassageBySeaOrAirFrmUk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassageBySeaOrAirFrmUk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidentMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidentMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidentDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidentDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SprpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SprpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
