@model IEnumerable<NAMIS.Models.dpps>

@{
    ViewData["Title"] = "Default";
}

<h4>Detail Of Previous Public Service</h4>


<link href="~/css/viewComp.css" rel="stylesheet" />
<div class="row">

    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Psemployer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FrmDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ToDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FilePageRef)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Checkedby)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SprpNo)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Psemployer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FrmDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FilePageRef)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Checkedby)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SprpNo)
                            </td>


                            <td>
                                
                                <a asp-action="Index" class="btn btn-danger btn-rounded btn-sm my-0" asp-area="" asp-controller="dpps" asp-route-id="@item.Id">Details</a> |
                                
                            </td>
                        </tr>
                    }
                </tbody>
                <tr>
                    <td colspan="6"></td>
                    <td>
                        <a asp-action="Index" asp-area="" asp-controller="dpps" class="btn btn-info">Add New</a>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>